/* home-page.component.css */

.lab-header {
  position: relative;
  max-width: 75%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-button {
  background-color: #eee;
  color: #25A1B0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.refresh-button i {
  margin-right: 5px; /* Space between icon and text */
}

.refresh-button:hover {
  color: white;
  background-color: black; /* Darker green on hover */
}
  
  .sensor-wrapper {
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .sensor-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 310px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
  
  .sensor-info {
    color: #333;
  }
  
  .sensor-actions {
    display: flex;
    gap: 10px;
  }
  
  .sensor-wrapper button {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    cursor: pointer;
    font-size: 50px;
    justify-content: center;
  }
  
  .sensor-wrapper button:hover {
    background-color: black;
    color: white;
  }
  